<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Nommbre</label>
          <input type="text" id="name" class="form-control" #ingredientInputName>
        </div>
        <div class="col-xs-2">
          <label for="amount">Cantidad</label>
          <input type="number" id="amount" class="form-control" #ingredientNumberInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="addIngredient(ingredientInputName)">Añadir</button>
          <button type="button" class="btn btn-danger" (click)="deleteIngredients()">Eliminar</button>
          <button type="button" class="btn btn-primary" (click)="clearIngredients()">Limmpiar</button>
        </div>
      </div>
    </form>
  </div>
</div>
