<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addIngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-5 form-group">
          <label for="name">Nommbre</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-xs-2">
          <label for="amount">Cantidad</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!f.valid">
            {{ !editMode ? 'Añadir' : 'Guardar' }}
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteIngredient()">
            {{ !editMode ? 'Borrar lista' : 'Eliminar'}}
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="clearForm()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
