ul {
  margin-bottom: 0;

  li {
    list-style-type: none;
    padding: 1em;

    a {
      padding: 18px;
      text-decoration: none;
    }
  }

  .manage {
    list-style-type: none;
    position: relative;
    top: 1em;
    right: 2em;
  }
}
